<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Todo Types</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @todo_types.each do |todo_type| %>
            <tr>
              <td><%= todo_type.name %></td>
              <td>
                <%= link_to 'Show', todo_type, class: "btn btn-primary rounded-0" %>
                <%= link_to 'Edit', edit_todo_type_path(todo_type), class: "btn btn-secondary rounded-0" %>
                <%= link_to 'Destroy', todo_type, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger rounded-0" %>    
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Todo Type', new_todo_type_path %>
    </div>
  </div>
</div>


